<button style="align-self: end" class="btn btn-primary" (click)="xlOpen=!xlOpen">Add Regression Test Pass</button>



<clr-wizard #wizardxl [(clrWizardOpen)]="xlOpen">
  <clr-wizard-title>Create New Regression</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Select Active Regresssion</ng-template>


    <form clrForm [formGroup]="regressionForm" (ngSubmit)="onSubmit()">
      <div formGroupName="regression">
        <div class="clr-row">
          <div class="clr-col">
            <clr-input-container>
              <label>Name</label>
              <input clrInput type="text" formControlName="name"/>
            </clr-input-container>
          </div>
          <div class="clr-col">
            <clr-input-container>
              <label>Release Name</label>
              <input clrInput type="text" formControlName="releaseName"/>
            </clr-input-container>
          </div>

        </div>
        <div class="clr-row">   <div class="clr-col">
          <clr-date-container>
            <label>Planned Start Date</label>
            <input clrDate type="date" formControlName="plannedStartDate"/>
          </clr-date-container>
        </div>
          <div class="clr-col">
            <clr-date-container>
              <label>Planned End Date</label>
              <input clrDate type="date" formControlName="plannedEndDate"/>
            </clr-date-container>
          </div></div>

        <div class="clr-row">

          <div class="clr-col">
            <clr-date-container>
              <label>Actual Start Date</label>
              <input clrDate type="date" formControlName="actualStartDate"/>
            </clr-date-container>
          </div>
          <div class="clr-col">
            <clr-date-container>
              <label>Actual End Date</label>
              <input clrDate type="date" formControlName="actualEndDate"/>
            </clr-date-container>
          </div>
        </div>
      </div>
    </form>

  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Test Areas</ng-template>
    <form clrForm [formGroup]="regressionForm" (ngSubmit)="onSubmit()">


      <clr-tree-node [clrExpanded]="true">
        Areas to Test
        <clr-tree-node *ngFor="let area of availableAreas" [clrExpanded]="false">
          {{area.name}}
          <clr-tree-node *ngFor="let feature of area.features"
                         [clrSelected]="feature.enable" (clrSelectedChange)="feature.enable = !!$event">
            {{feature.name}} ({{feature.teams[0].name}})
            <clr-tree-node *ngFor="let subFeature of feature.subFeatures"
                           [clrSelected]="subFeature.enable" (clrSelectedChange)="subFeature.enable = !!$event">
              {{subFeature.name}} ({{subFeature.teams[0].name}})
              <clr-tree-node *ngFor="let subFeaturen of subFeature.subFeatures"
                             [clrSelected]="subFeaturen.enable" (clrSelectedChange)="subFeaturen.enable = !!$event">
                {{subFeaturen.name}} ({{subFeaturen.teams[0].name}})
              </clr-tree-node>
            </clr-tree-node>
          </clr-tree-node>
        </clr-tree-node>
      </clr-tree-node>



    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Roles to Test</ng-template>
    <clr-checkbox-container >
      <label>Roles</label>
      <clr-checkbox-wrapper *ngFor="let role of userRoles$|async" >
        <input type="checkbox" clrCheckbox formControlName="roles" required [value]="role.id"  (click)="onRoleSelected(role)" />
        <label>{{role.name}}</label>
      </clr-checkbox-wrapper>

      <clr-control-helper>Select the roles this user will have</clr-control-helper>
      <clr-control-error>This field is required!</clr-control-error>
    </clr-checkbox-container>
  </clr-wizard-page>
</clr-wizard>





