<div class="clr-row">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        Welcome, Welcome
      </div>
      <div class="card-block">

        <div class="card-text">
          <iframe src="https://giphy.com/embed/UTMzXBvB35tN6" width="480" height="360" frameBorder="0"
                  class="giphy-embed" allowFullScreen></iframe>
          <p><a href="https://giphy.com/gifs/television-dave-chappelle-UTMzXBvB35tN6">via GIPHY</a></p>

        </div>
      </div>

    </div>
  </div>
</div>
