<div class="clr-row">
  <div class="clr-col-2">
    <h2>
      Active Regressions
      <qa-regression-test-pass-form></qa-regression-test-pass-form>
    </h2>
    <table class="table table-compact">
      <thead>
      <tr>
        <th class="left">Name</th>
        <th>Number of Tests</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let regression of regression$|async">
        <td>{{ regression.name }} -{{ regression.releaseName }}</td>
        <td>{{ regression.results.length }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="clr-col">
    <h2>Current Test</h2>
    <div class="clr-row">
      <div class="clr-col">
        <clr-select-container>
          <label>Role testing </label>
          <select clrSelect name="options">
            <option value="">Admin</option>
            <option value="">Front Desk</option>
            <option value="">Doctor</option>
            <option value="">Sys Admin</option>
          </select>
        </clr-select-container>
      </div>
    </div>
    <div
      *ngFor="let testCase of regression.results[0].testCases"
      class="clr-row"
    >
      <div class="clr-col">

            <div class="card">
              <div class="card-header">
                {{ testCase.testCase.feature.name }}
              </div>
              <div class="card-block">
                <div class="card-title">
                  {{ testCase.testCase.caseOrder }}-{{
                  testCase.testCase.description
                  }}
                </div>
                <div class="card-text">
                  <clr-select-container>
                    <label
                    >{{ testCase.testCase.caseOrder }}-{{
                      testCase.testCase.description
                      }}</label
                    >
                    <select clrSelect name="options">
                      <option value="one">Untested</option>
                      <option value="two">Pass</option>
                      <option value="three">Fail</option>
                    </select>
                  </clr-select-container>

<!--                  <clr-input-container>-->
<!--                    <input-->
<!--                      clrInput-->
<!--                      name="name"-->
<!--                      placeholder="Provide Details for Failing tests"-->
<!--                    />-->
<!--                  </clr-input-container>-->
                </div>
              </div>
              <div class="card-footer">

                <div class="btn-group btn-sm">

                  <div class="radio btn btn-outline-success">
                    <input type="radio" name="btn-group-demo-radios_{{testCase.testCase.caseOrder}}}" id="btn-demo-radio-2_{{testCase.testCase.caseOrder}}}">
                    <label for="btn-demo-radio-2_{{testCase.testCase.caseOrder}}}">Passed</label>
                  </div>
                  <div class="radio btn  btn-outline-danger">
                    <input type="radio" name="btn-group-demo-radios_{{testCase.testCase.caseOrder}}}" id="btn-demo-radio-3_{{testCase.testCase.caseOrder}}}">
                    <label for="btn-demo-radio-3_{{testCase.testCase.caseOrder}}}">Failed</label>
                  </div>
                  <div class="radio btn  btn-outline">
                    <input type="radio" name="btn-group-demo-radios_{{testCase.testCase.caseOrder}}}" id="btn-demo-radio-1_{{testCase.testCase.caseOrder}}}">
                    <label for="btn-demo-radio-1_{{testCase.testCase.caseOrder}}}">Skipped</label>
                  </div>
                  <div class="radio btn  btn-outline">
                    <input type="radio" name="btn-group-demo-radios_{{testCase.testCase.caseOrder}}}" id="btn-demo-radio-4_{{testCase.testCase.caseOrder}}}" checked>
                    <label for="btn-demo-radio-4_{{testCase.testCase.caseOrder}}}">Untested</label>
                  </div>
                </div>


<!--                <button-->
<!--                  aria-label="Create a Bug"-->
<!--                  class="btn btn-danger-outline btn-icon btn-sm"-->
<!--                  title="Create a bug for this test"-->
<!--                  type="button"-->
<!--                >-->
<!--                  <clr-icon class="is-solid" shape="bug"></clr-icon>-->
<!--                </button>-->

              </div>
            </div>

          </div>


        </div>
      </div>
    </div>


