<div class="clr-row">

  <div class="clr-col-10">
    <h2>Current Test</h2>
    <div class="clr-row">
      <div class="clr-col">
           <div class="card">
            <div class="card-header">
              Scenario Configuration
              </div>
            <div class="card-block">

              <div class="clr-row">
                <div class="clr-col">
        <clr-select-container>
          <label>Role testing </label>
          <select clrSelect name="options">
            <option value="">Admin</option>
            <option value="">Front Desk</option>
            <option value="">Doctor</option>
            <option value="">Sys Admin</option>
          </select>
        </clr-select-container>
        </div>
        <div class="clr-col">  <clr-input-container>
          <label>Testing Login</label>
          <input clrInput placeholder="mdiadmin" name="name"  />
        </clr-input-container></div>
        <div class="clr-col">
          <clr-input-container>
            <label>Tester</label>
            <input clrInput placeholder="Current Tester" name="name" />
          </clr-input-container>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <span class="spinner spinner-inverse" *ngIf="!scenarios$">
      Loading...
  </span>
    <div *ngFor="let scenario of scenarios$|async" class="clr-row">
      <div class="clr-col">
        <div class="card">
          <div class="card-header">
            {{ scenario.feature }} - {{scenario.name}}
          </div>
          <div class="card-block">
            <div class="card-title">Steps to Test</div>
            <div class="card-text">

              <ol class="list compact">
                <li *ngFor="let step of scenario.steps">{{ step.name }}.</li>
              </ol>

              <clr-textarea-container>
                <label>Scenario Notes</label>
                <textarea
                  clrTextarea
                  name="note"
                  style="width: 450px;"
                  required
                ></textarea>
                <clr-control-helper
                  >Provide Details for status</clr-control-helper
                >
                <clr-control-error
                  >You must provide a description!</clr-control-error
                >
              </clr-textarea-container>
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group btn-sm">
              <div class="radio btn btn-outline-success">
                <input
                  type="radio"
                  name="btn-group-demo-radios_{{ scenario.order }}}"
                  id="btn-demo-radio-2_{{ scenario.order }}}"
                />
                <label for="btn-demo-radio-2_{{ scenario.order }}}"
                  >Passed</label
                >
              </div>
              <div class="radio btn  btn-outline-danger">
                <input
                  type="radio"
                  name="btn-group-demo-radios_{{ scenario.order }}}"
                  id="btn-demo-radio-3_{{ scenario.order }}}"
                />
                <label for="btn-demo-radio-3_{{ scenario.order }}}"
                  >Failed</label
                >
              </div>
              <div class="radio btn  btn-outline">
                <input
                  type="radio"
                  name="btn-group-demo-radios_{{ scenario.order }}}"
                  id="btn-demo-radio-1_{{ scenario.order }}}"
                />
                <label for="btn-demo-radio-1_{{ scenario.order }}}"
                  >Skipped</label
                >
              </div>
              <div class="radio btn  btn-outline">
                <input
                  type="radio"
                  name="btn-group-demo-radios_{{ scenario.order }}"
                  id="btn-demo-radio-4_{{ scenario.order }}}"
                />
                <label for="btn-demo-radio-4_{{ scenario.order }}}"
                  >Untested</label
                >
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row-2">

    <div style="position: absolute;">
       <button class="btn"  >Save Test Results</button>
      <button class="btn btn-primary" >Complete Test Run</button></div>
    </div>
  </div>

