<div class="clr-row">
  <div class="clr-col-2">
    <h2>
      Active Regressions
      <qa-regression-test-pass-form></qa-regression-test-pass-form>
    </h2>
    <table class="table table-compact">
      <thead>
      <tr>
        <th class="left">Name</th>
        <th>Number of Tests</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ regression.name }} -{{ regression.releaseName }}</td>
        <td>{{ regression.results.length }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="clr-col">
    <h2>Current Test</h2>
    <div class="clr-row">
      <div class="clr-col">
        <clr-select-container>
          <label>Role testing </label>
          <select clrSelect name="options">
            <option value="">Admin</option>
            <option value="">Front Desk</option>
            <option value="">Doctor</option>
            <option value="">Sys Admin</option>
          </select>
        </clr-select-container>
      </div>
    </div>
    <div
      *ngFor="let testCase of regression.results[0].testCases"
      class="clr-row"
    >
      <div class="clr-col">
        <h4>{{ testCase.testCase.feature.name }}</h4>

        <div class="clr-row">
          <div class="clr-col-9">

            <clr-select-container>
              <label
              >{{ testCase.testCase.caseOrder }}-{{
                testCase.testCase.description
                }}</label
              >
              <select clrSelect name="options">
                <option value="one">Untested</option>
                <option value="two">Pass</option>
                <option value="three">Fail</option>
              </select>
            </clr-select-container>
            <button
              aria-label="Create a Bug"
              class="btn btn-danger-outline btn-icon btn-sm"
              title="Create a bug for this test"
              type="button"
            >
              <clr-icon class="is-solid" shape="bug"></clr-icon>
            </button>
          </div>

          <div class="clr-col-1">
            <clr-input-container>
              <input
                clrInput
                name="name"
                placeholder="Provide Details for Failing tests"
              />
            </clr-input-container>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
