<div class="main-container">
  <div class="alert alert-app-level">

  </div>
  <header class="header-1">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            <clr-icon shape="shield-check" ></clr-icon>
            <span class="title">ICP Regression Manager</span>
        </a>
    </div>
    <div class="header-nav">
      <a href="..." class="nav-link"><span class="nav-text">Dashboard</span></a>
      <a [routerLink]="['/regression']" routerLinkActive="active" class="nav-link"><span class="nav-text">Regressions</span></a>

      <a href="..." class="nav-link"><span class="nav-text">Administration</span></a>
  </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon-text">
            <clr-icon shape="user"></clr-icon>
            <span class="nav-text">username</span>
        </a>
    </div>
</header>
<nav class="subnav">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link " href="#">Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/regression']" routerLinkActive="active">Regressions</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Results</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Admin</a>
      </li>
  </ul>
</nav>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>

  </div>
</div>
