<span class="spinner" *ngIf="!(vm$| async)">
    Loading...
</span>

<div class="card" *ngIf="vm$| async as vm">
  <div class="card-header">
    History  <qa-regression-create></qa-regression-create>

  </div>
  <div class="card-block">
    <div class="card-title">
      Active Regressions
    </div>
    <div class="card-text" *ngIf="vm.ActiveRegressions || vm.CompletedRegressions">
      <clr-datagrid [(clrDgSingleSelected)]="selected">

        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Planned Start Date</clr-dg-column>
        <clr-dg-column>Actual Start Date</clr-dg-column>

        <clr-dg-row *clrDgItems ="let regression of vm.ActiveRegressions" [clrDgItem]="regression">

          <clr-dg-cell>{{regression.name}}-{{regression.practiceName}}</clr-dg-cell>
          <clr-dg-cell>{{regression.plannedEndDate | date}}</clr-dg-cell>
          <clr-dg-cell>{{regression.actualStartDate | date}}</clr-dg-cell>



        </clr-dg-row>

        <clr-dg-footer>{{vm.ActiveRegressions.length}} Regression Cycle(s)</clr-dg-footer>
      </clr-datagrid>

    </div>

    <div class="card-title">
      Completed  Regressions
    </div>
    <div class="card-text" *ngIf="vm.CompletedRegressions">
      <clr-datagrid >

        <clr-dg-column>Name - Practice Short Name</clr-dg-column>
        <clr-dg-column>Release</clr-dg-column>
        <clr-dg-column>Planned Start Date</clr-dg-column>
        <clr-dg-column>Actual Start Date</clr-dg-column>
        <clr-dg-column>Planned End Date</clr-dg-column>
        <clr-dg-column>Actual End Date</clr-dg-column>

        <clr-dg-column></clr-dg-column>

        <clr-dg-row *clrDgItems ="let regression of vm.CompletedRegressions" >

          <clr-dg-cell>{{regression.name}}-{{regression.practiceName}}</clr-dg-cell>
          <clr-dg-cell>{{regression.releaseName}}</clr-dg-cell>
          <clr-dg-cell>{{regression.plannedStartDate | date}}</clr-dg-cell>
          <clr-dg-cell>{{regression.actualStartDate | date}}</clr-dg-cell>
          <clr-dg-cell>{{regression.plannedEndDate | date}}</clr-dg-cell>
          <clr-dg-cell>{{regression.actualEndDate | date}}</clr-dg-cell>
          <clr-dg-cell><button class="btn btn-info-outline btn-sm">View Results</button></clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{vm.CompletedRegressions.length}} Regression Cycle(s)</clr-dg-footer>
      </clr-datagrid>

    </div>
    <div class="card-text"*ngIf="!vm.ActiveRegressions || !vm.CompletedRegressions">
      No Regressions have been started.
    </div>
  </div>

</div>





