<button style="align-self: end" class="btn btn-primary btn-sm" (click)="xlOpen=!xlOpen">Add Regression</button>

<clr-modal [(clrModalOpen)]="xlOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title">Add New Regression</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="regressionForm" (ngSubmit)="onSubmit()">
      <div formGroupName="regression">
        <div class="clr-row">
          <div class="clr-col">
            <clr-input-container>
              <label>Name</label>
              <input clrInput type="text" formControlName="name"/>
            </clr-input-container>
          </div>
          <div class="clr-col">
            <clr-input-container>
              <label>Release Name</label>
              <input clrInput type="text" formControlName="releaseName"/>
            </clr-input-container>
          </div>
          <div class="clr-col">
            <clr-input-container>
              <label>Testing Practice Short Name</label>
              <input clrInput type="text" formControlName="practiceName"/>
            </clr-input-container>
          </div>

        </div>
        <div class="clr-row">   <div class="clr-col">
          <clr-date-container>
            <label>Planned Start Date</label>
            <input clrDate type="date" formControlName="plannedStartDate"/>
          </clr-date-container>
        </div>
          <div class="clr-col">
            <clr-date-container>
              <label>Planned End Date</label>
              <input clrDate type="date" formControlName="plannedEndDate"/>
            </clr-date-container>
          </div></div>

        <div class="clr-row">

          <div class="clr-col">
            <clr-date-container>
              <label>Actual Start Date</label>
              <input clrDate type="date" formControlName="actualStartDate"/>
            </clr-date-container>
          </div>
          <div class="clr-col">
            <clr-date-container>
              <label>Actual End Date</label>
              <input clrDate type="date" formControlName="actualEndDate"/>
            </clr-date-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="xlOpen = false">Cancel</button>
        <button type="submit" class="btn btn-primary" >Ok</button>
      </div>
    </form>
  </div>

</clr-modal>





