<div class="card" *ngIf="scenarioForm$ | async as scenarioForm">
  <form
    clrForm
    [formGroup]="scenarioForm"
    clrLayout="vertical"
    clrLabelSize="2"
    (ngSubmit)="onSubmit(scenarioForm)"
  >
    <div class="card-header">
      <span *ngIf="!scenarioForm.contains('id')">Add</span>
      <span *ngIf="scenarioForm.contains('id')">Edit</span> Scenario
    </div>
    <div class="card-block">
      <div class="card-text">
        <clr-input-container>
          <label> Name</label>
          <input clrInput type="text" formControlName="name" />

          <clr-control-error *clrIfError="'required'"
            >Data is invalid
          </clr-control-error>
        </clr-input-container>

        <clr-select-container>
          <label>Feature</label>
          <select clrSelect formControlName="feature">
            <option
              *ngFor="let feature of features$ | async"
              [value]="feature.id"
              >{{ feature.name }}</option
            >
          </select>

          <clr-control-error *clrIfError="'required'"
            >A Feature must be selected.
          </clr-control-error>
        </clr-select-container>
        <br />
        <clr-stack-view>
          <clr-stack-block [clrStackViewLevel]="1" [clrSbExpanded]="hasStep">
            <clr-stack-label>Steps</clr-stack-label>

            <clr-stack-block
              formArrayName="steps"
              *ngFor="
                let item of scenarioForm.get('steps')['controls'];
                let i = index
              "
              class="step-labels"
            >
              <clr-stack-label [formGroupName]="i">
                <clr-input-container>
                  <label> Step</label>
                  <input clrInput type="number" formControlName="order" />

                  <clr-control-error *clrIfError="'required'"
                    >Data is invalid
                  </clr-control-error>
                </clr-input-container>
              </clr-stack-label>
              <clr-stack-content [formGroupName]="i">
                <clr-textarea-container>
                  <label> Instruction </label>
                  <textarea
                    clrTextarea
                    type="text"
                    formControlName="name"
                  ></textarea>

                  <clr-control-error *clrIfError="'required'"
                    >Data is invalid
                  </clr-control-error>
                </clr-textarea-container>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-view>
      </div>

      <div class="btn-group btn-primary-outline btn-sm">
        <button type="button" class="btn" (click)="addStep(scenarioForm)">
          Add Step
        </button>
        <button
          type="button"
          class="btn  btn-danger-outline"
          (click)="removeStep(scenarioForm)"
        >
          Remove Step
        </button>
      </div>
      <button class="btn btn-sm btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
