<div class="clr-row">
  <div class="clr-col">
    <div class="card">
      <div class="card-header">
        Graph
      </div>
      <div class="card-block">
        <div class="card-title">
          <div>
            <div>
              <div class="chart">
                <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="card-text">
          ...
        </div>
      </div>

    </div>
  </div>
</div>

